@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: rgb(247, 247, 247) ;
    font-family: 'Roboto', sans-serif ;
}
.item {
    background-color: #fff ;
    color: #689bf5;
    display: flex;
    justify-content: center;
}
.contenedor {
    padding: 0 1rem;
}